<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<div class="row">
  <div class="small-4 columns">
    <table>
      <thead>
      <tr>
        <th>New Tasks</th>
      </tr>
      </thead>

      <tbody>
      <% @newTasks.each do |task| %>
          <tr>
            <td>
              <div class="callout-card primary radius">
                <div class="card-label">
                </div>
                <div class="callout-card-content">
                  <h4 class="lead"><%= link_to task.name, task %></h4>
                  <div style="float:left;">
                    <%= button_to("Complete", task_processTask_path(task), :method => :put, class: "tiny round button") %>
                  </div>
                </div>
             </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="small-4 columns">
    <table>
      <thead>
      <tr>
        <th>In Process Tasks</th>
      </tr>
      </thead>

      <tbody>
      <% @inprocessTasks.each do |task| %>
          <tr>
            <td>
              <div class="callout-card primary radius">
                <div class="card-label">
                </div>
                <div class="callout-card-content">
                  <h4 class="lead"><%= link_to task.name, task %></h4>
                  <div style="float:left;">
                    <a href=<%= edit_task_path(task) %> class="tiny round button">Complete</a>
                    <a href=<%= edit_task_path(task) %> class="tiny round button">Block</a>
                  </div>
                </div>
              </div>
          </div>
          </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="small-4 columns">
    <table>
      <thead>
      <tr>
        <th>Blocked Tasks</th>
      </tr>
      </thead>

      <tbody>
      <% @blockTasks.each do |task| %>
          <tr>
            <td>
            <div class="callout-card primary radius">
              <div class="card-label">
              </div>
              <div class="callout-card-content">
                <h4 class="lead"><%= link_to task.name, task %></h4>
                <div style="float:left;">
                  <a href=<%= edit_task_path(task) %> class="tiny round button">Process</a>
                </div>
              </div>
            </div>
          </div>
          </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

